services:
  catalogue: # --name catalogue
    build: 
      context: ./catalogue
    image: surekha25/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb: # --name mongodb
    build: ./mongodb
    image: surekha25/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis: 
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  mysql: 
    build: ./mysql
    image: surekha25/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq: 
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - rabbitmq:/var/lib/rabbitmq
  user: 
    build: ./user
    image: surekha25/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart: 
    build: ./cart
    image: surekha25/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping: 
    build: ./shipping
    image: surekha25/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment: 
    build: ./payment
    image: surekha25/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend: 
    build: ./frontend
    image: surekha25/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you have created network manually using docker network command
volumes:
  mongodb: # docker volume create mongodb. /var/lib/docker/volumes
  redis:
  mysql:
  rabbitmq: